    .expargoMenu {
            width: 20%;
            padding: 30px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            img {
                width: 60%;
                margin: 30px;
            }

            .navBar {
                margin-top: 30px;

                ul {
                    list-style: none;

                    li {

                        a {
                            text-decoration: none;
                            font-size: 18px;
                            line-height: normal;
                            font-weight: 600;
                            color: rgb(42, 43, 42);
                            display: flex;
                            align-items: center;
                            padding: 25px 10px;
                            font-family: "Inter", sans-serif;

                            &:hover {
                                cursor: pointer;
                            }

                            svg {
                                margin: 0 20px;
                                font-size: 30px;
                            }
                        }
                    }

                    .line {
                        border: 0.1px solid rgb(249, 248, 248);
                    }

                    .line1 {
                        border: 0.1px solid rgb(249, 248, 248);
                        margin-bottom: 30px;
                    }

                }
            }

            button {
                width: 80%;
                height: 55px;
                border-radius: 10px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }

            .btn1 {
                margin: 30px;
                font-family: "Inter", sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: white;
                background-color: rgb(78, 0, 142);
                transition: all 0.2s ease-in;
                border: none;

                &:hover {
                    background-color: rgb(96, 26, 153);
                    cursor: pointer;

                }
            }

            .btn2 {
                border: none;
                background-color: transparent;
                font-family: "Inter", sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: rgb(78, 0, 142);
                transition: all 0.3s ease-in;

                &:hover {
                    color: rgb(149, 102, 187);
                    cursor: pointer;

                }
            }
        }