.password {
  width: 100%;
  display: flex;
}
.password .passwordContainer {
  width: 80%;
  background-color: #F2F2F2;
  padding: 30px;
  font-family: "Inter", sans-serif;
}
.password .passwordContainer h2 {
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  gap: 5px;
  margin-left: 30px;
}
.password .passwordContainer .container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.password .passwordContainer .container .inp {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.password .passwordContainer .container .inp input {
  width: 90%;
  background-color: transparent;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.password .passwordContainer .container .inp svg {
  color: black;
  font-size: 30px;
}
.password .passwordContainer .container button {
  width: 100%;
  padding: 15px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background-color: #A37DC2;
  border: none;
  border-radius: 10px;
}