.all {
  width: 100%;
  display: flex;
}
.all .container {
  width: 80%;
  padding: 30px;
  font-family: "Inter", sans-serif;
  background-color: #F2F2F2;
}
.all .container h2 {
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  gap: 5px;
  margin-left: 30px;
}
.all .container .allContainer {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
}
.all .container .allContainer h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  gap: 5px;
}
.all .container .allContainer ul {
  list-style: none;
}
.all .container .allContainer ul li {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: white;
}