*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: rgb(78, 0, 142);
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --header-bg: #1f1f1f;
  background-color: var(--bg-color);
  color: var(--text-color);
}
