.commercial {
    width: 100%;
    padding: 30px 0;
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E008E;
    .container {
        width: 80%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .commercialNetwork {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .contact {
                width: 48%;
                color: white;

                h1 {
                    width: 80%;
                    font-size: 60px;
                    line-height: 70px;
                    font-weight: 700;
                    font-family: "Montserrat", sans-serif;
                }

                p {
                    width: 60%;
                    font-family: "Inter", sans-serif;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    margin: 20px 0;
                }

                .contactBtn {
                    width: 35%;
                    height: 65px;
                    border-radius: 10px;
                    border: none;
                    font-family: "Inter", sans-serif;
                    background-color: #F2A900;
                    color: #4E008E;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 29px;
                    box-shadow:
                        0 5px 5px rgba(242, 169, 0, 0.3),
                        0 -5px 5px rgba(242, 169, 0, 0.3),
                        5px 0 5px rgba(242, 169, 0, 0.3),
                        -5px 0 5px rgba(242, 169, 0, 0.3);

                    &:active {
                        color: white;
                        background-color: #d39402;
                        border: 3px solid rgba(242, 169, 0, 0.3);
                    }
                }

                .btn {
                    margin: 30px 0;
                    display: flex;
                    gap: 7px;
                   button {
                        font-family: "Montserrat", sans-serif;
                        border: none;
                        background-color: transparent;
                        color: white;
                        font-size: 22px;
                        font-weight: 700;
                        &:hover {
                            text-decoration: underline;
                        }

                        &.active {
                            color: #F2A900;

                        }
                    }
                }

            }
                    img{
            width: 40%;
        }
        }
         .cards{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card{
            width: 16.5%;
            background-color: #5C2E8D;
            padding: 30px 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            transition: all 0.2s ease-in;
            &:hover{
                background-color: #F2A900;
            }
            &.active{
                background-color: #F2A900;
            }
            img{
                width: 20%;
            }
            span{
            font-family: "Inter", sans-serif;
             font-size: 16px;
             line-height: 25px;
             font-weight: 400;
             width: 50%;
            }
         }
         }
    }
}

@media screen and (max-width: 578px) {
    .commercial {
        top: 8vh;
        padding-top: 30px;
        margin-top: 30px;

        .container {
            width: 90%;
            padding: 30px;
            margin-top: 30px;
            position: relative;
            top: 40px;
            .commercialNetwork {
                flex-direction: column;

                .contact {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h1 {
                        font-size: 28px;
                        line-height: 36px;
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        font-size: 16px;
                        line-height: 22px;
                        width: 100%;
                        text-align: center;
                    }

                    .contactBtn {
                        width: 70%;
                        height: 55px;
                        font-size: 18px;
                        line-height: 24px;
                        margin: 0 auto;

                    }

                    .btn {
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 5px;

                        button {
                            font-size: 18px;
                        }
                    }
                }

                img {
                    width: 100%;
                    margin-top: 20px;
                }
            }

            .cards {
                flex-direction: column;
                gap: 10px;

                .card {
                    width: 100%;
                    justify-content: center;
                    padding: 20px 10px;

                    img {
                        width: 12%;
                    }

                    span {
                        width: auto;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 579px) and (max-width: 700px) {
    .commercial {
        .container {
            width: 90%;
            position: relative;
            top: 40px;
                padding-top: 30px;
            .commercialNetwork {
                flex-direction: column;
                padding: 30px;
                margin-top: 30px;

                .contact {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 32px;
                        line-height: 40px;
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        width: 100%;
                        text-align: center;
                    }

                    .contactBtn {
                        width: 60%;
                        height: 60px;
                        font-size: 20px;
                    }

                    .btn {
                        justify-content: center;
                        flex-wrap: wrap;

                        button {
                            font-size: 20px;
                        }
                    }
                }

                img {
                    width: 100%;
                    margin-top: 20px;
                }
            }

            .cards {
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;

                .card {
                    width: 100%;
                    justify-content: center;
                    padding: 20px;

                    img {
                        width: 15%;
                    }

                    span {
                        font-size: 14px;
                        width: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .commercial {
        padding-top: 30px;
        .container {
            width: 90%;
            padding-top: 30px;
            margin-top: 30px;
            position: relative;
            top: 50px;
            .commercialNetwork {
                flex-direction: column;

                .contact {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 32px;
                        line-height: 40px;
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        width: 100%;
                        text-align: center;
                    }

                    .contactBtn {
                        width: 60%;
                        height: 60px;
                        font-size: 20px;
                    }

                    .btn {
                        justify-content: center;
                        flex-wrap: wrap;

                        button {
                            font-size: 20px;
                        }
                    }
                }

                img {
                    width: 80%;
                    margin-top: 20px;
                }
            }

            .cards {
                flex-wrap: wrap;
                justify-content: space-between;

                .card {
                    width: 15%;
                    justify-content: center;
                    padding: 20px;

                    img {
                        width: 15%;
                    }

                    span {
                        font-size: 14px;
                        width: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}